@model FairfaxCounty.JCAS_Public_MVC.Models.JcasSession

@{
    ViewBag.Title = "Edit Session";
}

<h2>@ViewBag.Title</h2>

@{
    if (!string.IsNullOrEmpty(ViewBag.MessageText))
    {
        <div class="alert-info">@Html.Raw(ViewBag.MessageText)</div>
        @Html.Partial("_SessionDetails", Model)
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RowVersionId)
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("SessionDate", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.SessionDate)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Hearing Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.JcasHearingType.HearingTypeName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Attorney", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.JcasAttorney.FullName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CourtroomId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.CourtroomId, new List<SelectListItem>(ViewBag.CourtroomList), Constants.SelectOne, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourtroomId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
}

