@using FairfaxCounty.JCAS_Public_MVC.ViewModels
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.Raw(Model.ChangePasswordMessage)

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmailConfirmationCode)

        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress, "Email Address *", new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, "New Password *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RepeatPassword, "Repeat New Password *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.PasswordFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RepeatPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="submit" value="Cancel" class="btn" onclick="window.location = '@Html.Raw(Url.Action("Logout", "Account", null))'; return false;" />
            </div>
        </div>

    </div>
}