@using FairfaxCounty.JCAS_Public_MVC.ViewModels
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password (Attorney Users Only)";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Email" class="btn btn-default" />
                <input type="submit" value="Cancel" class="btn" onclick="window.location = '@Html.Raw(Url.Action("Logout", "Account", null))'; return false;" />
            </div>
        </div>

    </div>
}

